Django==3.2.10
django-cors-headers==3.5.0
django-mathfilters
flower==0.9.5
celery
autogluon==0.8.1
xgboost==1.7.5
SQLAlchemy==1.3.13
sqlparse==0.4.1
XlsxWriter==1.3.7
psycopg2-binary==2.9.7
numerize==0.12
shap==0.37.0
seaborn==0.11.2
pandas-profiling==3.6.6
redis==4.6.0
tensorflow-cpu==2.12.0
pdfo==1.3
cobyqa==1.0.dev1